*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  body{
    background-color: #242424;
  }
.logo-nav{
    z-index: 4;
    position: fixed;
    margin: 8px 10px 10px 20px;
    float: left;
    
  
  }
  nav{
    z-index: 3;
    position: fixed;
    padding: 15px;
    height: auto;
    width: 100%;
    background-color: #1f1f1f;
  
  }
  .options{
    text-align: right;
  
  }
  .options a{
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
  
  }
  .options a:hover{
    opacity: .7;
  }
  .options li{
    display: inline-flex;
    list-style: none;
    padding-left: 25px;
  }
  .options ul{
    padding: 25px;
  }
/*//////////////////////////////////////////////////*/

.carousel img{
width: 100%;
height: 80vh;
}

/*//////////////////////////////////////////////////*/
#two-section{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.button-one, .button-two {
    background-color: #dadada;
    border: none;
    color: black;
    padding: 80px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    width: 40%;
    height: auto;
}
.button-two {
    text-align: left;
}
/*//////////////////////////////////////////////////*/

#filter-section{
  display: grid;
  background-color: rgba(0, 255, 255, 0); 
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(3, 1fr);
  padding: 80px;
  gap: 50px;


}
#first-grid{
  background-color: brown;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-image: url("../img/baners/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#first-grid h2{
 margin: 200px 0 0 10px;
 color: #dadada;
}
#first-grid img{
  float: right;
}
#second-grid{
  background-image: url("../img/baners/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(177, 159, 1);
  grid-row: 1 / 3;
  
}

#second-grid h2{
  margin: 500px 0 0 10px;
  color: #dadada;
 }
#third-grid{
  background-color: rgb(4, 167, 139);
  background-image: url("../img/baners/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#third-grid h2{
  margin: 200px 0 0 10px;
  color: #dadada;
 }
#fourth-grid{
  background-color: rgb(116, 42, 165);
  background-image: url("../img/baners/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#fourth-grid h2{
  margin: 200px 0 0 10px;
  color: #dadada;
 }

#first-grid:hover{
  
}

#second-grid:hover{
  
}

#third-grid:hover{
  
}

#fourth-grid:hover{
  
}
/*//////////////////////////////////////////////////*/

 #four-section{
  color: white;
  margin-top:10%;
  margin-bottom:10%;
}
#four-section h1{
  margin-left:7%;
  margin-bottom:1%;
}

.cards-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid white;
  cursor: pointer;
  padding: 10px;
  margin: 15px;
  margin-left: 105px;
  width: 300px;
  height: 400px;
}
.card-img{
  width: 100%;
}
.card img {
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}
.card p {
  font-size: 16px;
  margin: 10px 0;
}
.card-price{
  display: flex;
  justify-content: space-between;
}
.card-price img{
  width: 40px;
}
/*//////////////////////////////////////////////////*/

#section-shop{
  padding: 50px;
  margin-bottom: 300px;
}

.carousel-shop {
  position: relative;
  width: 100%;
  height: 300px;
}

.carousel-container-shop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-container-shop img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}


.carousel-prev{
  padding:50px 15px 50px 15px;;
}
.carousel-next{
  padding:50px 15px 50px 15px;;
}
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 60%;
  transform: translateY(40%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
  z-index: 1; /* adicionar z-index para sobrepor a camada de fundo */
}

.carousel-prev:before,
.carousel-next:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: -1; /* adicionar z-index inferior para a camada de fundo */
}

.carousel-prev:hover:before,
.carousel-next:hover:before {
  opacity: 0.4; /* aumentar a opacidade para fazer o fade-in */
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}
/*//////////////////////////////////////////////////*/

section {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.faq {
  margin-bottom: 10px;
}

.faq-title {
  cursor: pointer;
  font-weight: bold;
}

.faq-answer {
  display: none;
}

.faq.open .faq-answer {
  display: block;
}

.faq {
  margin-bottom: 10px;
  background-color: #f8f8f8;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.5s ease;
  
}

.faq:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
}

.faq-title {
  cursor: pointer;
  font-weight: bold;
  padding: 15px;
  background-color: #eee;
}

.faq-answer {
  padding: 15px;
}

.faq.open .faq-answer {
  display: block;
}

/* Estilo para o ícone do título */
.faq-title::before {
  content: "\25B6";
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.faq.open .faq-title::before {
  transform: rotate(90deg);
}
/*//////////////////////////////////////////////////*/









